{% extends 'base.html' %}
{% load socialaccount %}
{% block content %}

    <style>
	.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>


<main class="form-signin w-100 m-auto">
  <form method="post">{% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Reset Password</h1>

   		{{ form.as_p }}
      <input type="submit" name="Send Email">
  </form><br>
  <p>Have an account? <a href="{% url 'login' %}">Login</a></p>

{% endblock %}

