{% extends 'base.html' %}
{% block content %}
	<div class="row d-flex col-4 m-auto">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <fieldset>
                <legend class="border-bottom mb-4">Products</legend>
                Name: <input type="text" class="form-control" name="name"><br>
                Quantity: <input type="text" class="form-control" name="qtty"><br>
                Price: <input type="text" class="form-control" name="price"><br>
                Description: <input type="text" class="form-control" name="desc"><br>
                image: <input type="file" class="form-control" name="image"><br>

            </fieldset>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-info mt-4">
            </div>

        </form>
    {% for message in messages %}
    	{{ message }}
    {% endfor %}

    </div>
{% endblock %}